div {
  overflow: auto;
}
.product {
  margin-bottom: 1em;
}
.product_img {
  float: left;
}
.deet_butt {
  color: blue;
  background-color: white;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}
.deet_butt:hover {
  color: white;
  background-color: blue;
}
.cart_butt {
  color: white;
  background-color: blue;
  border: 2px solid blue;
  border-radius: 4px;
  padding: 5px;
  font-size: 16px;
}
.cart_butt:hover {
  color: blue;
  background-color: white;
}
